<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- These settings are required for some of the unit tests-->
    <add key="TESTSETTINGX" value="contactinatedInto"/>
    <add key="testSettingSubValue" value="$$TESTSETTINGX$$ARFLEUSBarfleyGloopify"/>
    <add key="testSettingSubValue2" value="$$TESTSETTINGY$$ARFLEUSBarfleyGloopify"/>
    <add key="testSettingValue" value="arfleBARFLEgloop"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Plisky.Diagnostics" publicKeyToken="fa048162fdc8ec66" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
